---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation';
import PageHeader from '../components/PageHeader';
import Contact from '../components/sections/Contact';
import Footer from '../components/Footer';
---

<Layout 
	title="Contacte con Nosotros - Asesoría Técnica"
	description="Póngase en contacto con nuestros especialistas en ingeniería y seguridad. Sedes en Lima y Chimbote con cobertura a nivel nacional."
>
	<Navigation client:load />
	<main>
		<PageHeader client:load title="Inicie su Proyecto" currentPage="Contacto" />
		<Contact client:load />
	</main>
	<Footer />
</Layout>
