---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation';
import PageHeader from '../components/PageHeader';
import Products from '../components/sections/Products';
import Footer from '../components/Footer';
---

<Layout title="Catálogo de Equipos - ENGISER">
	<Navigation client:load />
	<main class="bg-white min-h-screen">
    <PageHeader title="Nuestros Equipos" currentPage="Equipos" client:load />
		<Products client:load isHomePage={false} />
	</main>
	<Footer />
</Layout>
