---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation';
import PageHeader from '../components/PageHeader';
import About from '../components/sections/About';
import Footer from '../components/Footer';
---

<Layout 
	title="Nuestra Empresa - Experiencia y Compromiso"
	description="Conozca más sobre ENGISER, nuestra misión, visión y los valores que nos impulsan a ser líderes en soluciones de ingeniería y seguridad en el Perú."
>
	<Navigation client:load />
	<main>
		<PageHeader client:load title="Nuestra Identidad" currentPage="Nosotros" />
		<About client:load />
	</main>
	<Footer />
</Layout>
